// Badges
span.badge {
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 80%;
  line-height: $badge-height;
  height: $badge-height;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;

  &.new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: $badge-bg-color;
    border-radius: 2px;
  }
  &.new:after {
    content: " new";
  }

  &[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
  }
}
nav ul a span.badge {
  display: inline-block;
  float: none;
  margin-left: 4px;
  line-height: $badge-height;
  height: $badge-height;
}

// Line height centering
.collection-item span.badge {
  margin-top: calc(#{$collection-line-height / 2} - #{$badge-height / 2});
}
.collapsible span.badge {
  margin-top: calc(#{$collapsible-line-height / 2} - #{$badge-height / 2});
}
.side-nav span.badge {
  margin-top: calc(#{$sidenav-line-height / 2} - #{$badge-height / 2});
}

.top-number {
  padding: 0px 8px 8px 8px;
  text-align: center;
  font-size: 80%;
  line-height: $badge-height;
  height: $badge-height;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
  background: $primary-color;
  color: white;
  border-radius: 100px;
  margin-top: -5px;
  margin-left: -5px;
}
